
html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
				display: inline-block;
        height: 100vh;
				width: 50vw;
      }
      .controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 300px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      .pac-container {
        font-family: Roboto;
      }

      #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
      }

      #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }
      #target {
        width: 345px;
      }



			#sap{
				width: 48vw;
				height: 98vh;
				float :right;

			}

			.header{
				height: 10vh;
				border-bottom: 1px solid #f0f0f0;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 3em;
				cursor: pointer;
			}
.image{
  display: inline-block;
  margin-right: 20px;
  cursor: pointer;
}

.fav{
  text-align: center;
  background: black;
  color: white;
}

.show-fav{
  background: #f0f0f0;
  
}
